<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learning Vue Like a Boss!</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

  <!-- js -->
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <!-- our template -->
  <section id="app" class="section container">
    {{ avatar }} <br>

    <img v-bind:src="avatar" v-bind:alt="avatar" height="300" width="300">
    <div v-if="isSuccess" class="notification is-success">
      We did it! Successful!
    </div>
    <div v-if="!isSuccess" class="notification is-danger">
      Arrgh... No sucsess .... 
    </div>

  </section>

  <!-- our javascript -->
  <script>
    const app = new Vue({
      el: '#app', 
      data: {
        avatar: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png', 
        isSuccess: true

      }, 
      methods: {

      }
    });
  </script>
</body>
</html>